@import "./layout.scss";

@mixin btn($size:14px,$color:#fff,$bgcolor:#F04752,$padding:5px,$radius:5px){
  padding: $padding;
  background-color:$bgcolor;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  border:1px solid $bgcolor;
  font-size: $size;
  color: $color;
  text-align: center;
  line-height: 1;
  display: inline-block;
}

@mixin list($direction:column){
  @include flex($direction);    /*继承调用layout模块中的flex函数*/
}

@mixin panel($bgcolor:#fff,$padding:0,$margin:20px 0,$height:112px,
$txt_padding:0 32px,$txt_color:#333,$font_size:40px){   //font_size:32px
  background: $bgcolor;
  padding:$padding;
  margin: $margin;
  >h4 {
    height: $height;
    line-height: $height;
    padding: $txt_padding;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    color: $txt_color;
    font-size:$font_size;
  }
}